<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <property name="LOG_ENTRY_PATTERN" value="%highlight(%-5level) %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) %green(%logger{0}) - %msg [%t|%X]%n"/>

    <appender name="CONSOLE" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <target>System.out</target>
            <encoder>
                <pattern>${LOG_ENTRY_PATTERN}</pattern>
            </encoder>
        </appender>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="workingstats" level="INFO"/>

</configuration>
